@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');

*{
	margin: 0;
	padding: 0;
}

html, body, main{
	height: 100%; 
}

#main-login, #main-cadastro{
  display: flex;
  align-items: center;
  justify-content: center;

}

#main-login:after {
	content: "";
	background-image: linear-gradient(#00000070, #00000070), url(../imagens/kratos-e-filho.png),  url(../imagens/gears-of-war.png), url(../imagens/bg-login.png);
	background-repeat: no-repeat;
	background-size: cover, 46%, 25%, 110%;
	background-position: center, -15px 100%, 90% 100%, 30% 100%;
	opacity: 0;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	animation: backgroundLogin 1.8s ease-out forwards;
	}

  @keyframes backgroundLogin{
	  to{
		opacity: 1; 
		background-size: cover, 47%, 26%, 110%;
		background-position: center, 5px 100%, 90% 100%, 50% 100%;

	  }
  }


.container-input{
	width: 300px;
	height: 400px;
	background: #fff;
	padding: 20px;
	/* box-shadow: 0px 0px 10px 1px #ccc; */


} 

.container-input svg{
	width: 110px;
	height: 110px;
	stroke-width: 15px;
	stroke: #000; 
	animation: desenha 1.3s linear forwards ;
	stroke-dashoffset: 1200;
	stroke-dasharray: 1200;
	display: block;
	margin: 0 auto;
}


.container-input input{
	display: block;
	width: 100%;
	margin: 10px 0;
	padding: 6px;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.container-input input[type="submit"]{
	background: #28a745;
	color: #fff;
	font-size: 15px;
}

@keyframes desenha{

	to{
		stroke-dashoffset: 0;
	}
}



#main-cadastro:after {
	content: "";
	background-image: url(../imagens/watch-dogs.png), linear-gradient(#00000070, #00000070), url(../imagens/bg-cadastro.gif);
	background-repeat: no-repeat, no-repeat, repeat;
	background-size: 26%, cover, 40%;
	background-position: 0 100%;
	/*opacity: 0;*/
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	}

#pop-up-hacker{ 
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
	z-index: 2000;
	display: none;
	justify-content: center;
	align-items: center;
}

#pop-up-hacker.mostrar{
	display: flex;
}

.conteudo-pop-up{
	background-color: black;
	color: green;
	width: 60%;
	min-width: 300px;
	height: 70%;
	min-height: 350px;
	padding: 10px;
	box-sizing: border-box;
	border: solid 1px #cccccc;
	border-top: solid 25px #cccccc;
	position: relative;
	font-size: 20px;
	font-family: 'Ubuntu Mono', monospace; 
}

.conteudo-pop-up .menssagem-pop-up:after{
	content: '|';
	margin-left: 2px;
	animation: cursor .7s infinite;
	font-weight: 800;
}

@keyframes cursor {
	0%, 100%{opacity: 1}
	50%{opacity: 0}
}

.fechar{
	position: absolute;
	top: -25px;
	right: 0;
	height: 25px;
	background-color: #d02020;
	color: #fff;
	width: 50px;
	cursor: pointer;
}